@import "variabale";
@import "mixin";
@import "extend";
body {
    font-family: "Merriweather Sans", Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 85%;
    margin: auto;
}

// ---------------------/////////////////////
header {
    background: $scolor;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    .logo {
        @extend %w-f;
        h2 {
            padding: 10px 0;
            color: #c9c5bd;
        }
    }
    ul {
        @extend %w-f;
        display: flex;
        list-style: none;
        padding: 10px 0;
        li {
            margin-left: 5px;
            padding: 10px 35px;
            a {
                color: #c9c5bd;
                text-decoration: none;
                font-weight: bold;
                text-transform: uppercase;
                @include trans;
                &:hover {
                    color: $pcolor;
                }
            }
        }
    }
}

.Home {
    background: $home-bg;
    height: 100vh;
    background-size: cover;
    text-align: center;
    position: relative;
    color: #e0826d;
    .Home-contant {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h2 {
            @extend %h2;
        }
        span {
            @extend %span;
        }
        p {
            @extend %p;
        }
        button {
            @extend %button;
        }
    }
}

.need {
    padding: 3rem 0;
    text-align: center;
    background: $pcolor;
    h2 {
        @extend %h2;
    }
    span {
        @extend %span;
        background: #fff;
    }
    p {
        @extend %p;
    }
    button {
        @extend %button;
        color: $scolor;
        background: #fff;
        &:hover {
            color: #fff;
            background: $scolor;
        }
    }
}

.service {
    padding: 5rem 0;
    text-align: center;
    background: #fff;
    h2 {
        @extend %h2;
        color: $scolor;
    }
    span {
        @extend %span;
    }
    .service-chiled {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
        margin: 1.5rem 0;
        i {
            color: $pcolor;
        }
        h3 {
            margin: 1rem 0;
            color: #333;
        }
        p {
            color: #a4a4a4;
        }
    }
}

//images
.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 0;
    >div {
        position: relative;
        img {
            width: 100%;
            height: 100%;
        }
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba($pcolor, 0.6);
            opacity: 0;
            @include trans;
        }
        &:hover {
            &:after {
                opacity: 1;
            }
        }
    }
}

// download
.download {
    padding: 5rem 0;
    text-align: center;
    background: $scolor;
    h2 {
        @extend %h2;
        color: #fff;
    }
    button {
        @extend %button;
        margin: 3rem 0;
        color: $scolor;
        background: #fff;
        &:hover {
            color: #fff;
            background: $pcolor;
        }
    }
}

.get-touch {
    padding: 5rem 0;
    text-align: center;
    background: #fff;
    h2 {
        @extend %h2;
        color: $scolor;
    }
    span {
        @extend %span;
    }
    .touch {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        // grid-gap: 15px;
        margin: 1.5rem 0;
        i {
            color: $pcolor;
        }
        h3 {
            margin: 1rem 0;
            color: $scolor;
        }
    }
}

@import "media";