header .logo, header ul {
  width: 50%;
  float: left;
  margin-top: 10px;
}

.Home .Home-contant h2, .need h2, .service h2, .download h2, .get-touch h2 {
  font-size: 2.5rem;
  color: #fff;
}

.Home .Home-contant span, .need span, .service span, .get-touch span {
  display: block;
  width: 70px;
  height: 2px;
  background: #f05f40;
  margin: 1rem auto;
}

.Home .Home-contant p, .need p {
  margin: 1rem 0;
  letter-spacing: 2px;
  line-height: 1.5;
}

.Home .Home-contant button, .need button, .download button {
  border-radius: 90px;
  background: #f05f40;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.Home .Home-contant button:hover, .need button:hover, .download button:hover {
  color: #f05f40;
  background: #fff;
}

body {
  font-family: "Merriweather Sans", Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 85%;
  margin: auto;
}

header {
  background: #090a1e;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

header .logo h2 {
  padding: 10px 0;
  color: #c9c5bd;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 10px 0;
}

header ul li {
  margin-left: 5px;
  padding: 10px 35px;
}

header ul li a {
  color: #c9c5bd;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header ul li a:hover {
  color: #f05f40;
}

.Home {
  background: url("../dist/img/man-in-t-shirt.jpg");
  height: 100vh;
  background-size: cover;
  text-align: center;
  position: relative;
  color: #e0826d;
}

.Home .Home-contant {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.need {
  padding: 3rem 0;
  text-align: center;
  background: #f05f40;
}

.need span {
  background: #fff;
}

.need button {
  color: #090a1e;
  background: #fff;
}

.need button:hover {
  color: #fff;
  background: #090a1e;
}

.service {
  padding: 5rem 0;
  text-align: center;
  background: #fff;
}

.service h2 {
  color: #090a1e;
}

.service .service-chiled {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  margin: 1.5rem 0;
}

.service .service-chiled i {
  color: #f05f40;
}

.service .service-chiled h3 {
  margin: 1rem 0;
  color: #333;
}

.service .service-chiled p {
  color: #a4a4a4;
}

.images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  font-size: 0;
}

.images > div {
  position: relative;
}

.images > div img {
  width: 100%;
  height: 100%;
}

.images > div:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(240, 95, 64, 0.6);
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.images > div:hover:after {
  opacity: 1;
}

.download {
  padding: 5rem 0;
  text-align: center;
  background: #090a1e;
}

.download h2 {
  color: #fff;
}

.download button {
  margin: 3rem 0;
  color: #090a1e;
  background: #fff;
}

.download button:hover {
  color: #fff;
  background: #f05f40;
}

.get-touch {
  padding: 5rem 0;
  text-align: center;
  background: #fff;
}

.get-touch h2 {
  color: #090a1e;
}

.get-touch .touch {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin: 1.5rem 0;
}

.get-touch .touch i {
  color: #f05f40;
}

.get-touch .touch h3 {
  margin: 1rem 0;
  color: #090a1e;
}

@media (max-width: 768px) {
  header {
    text-align: center;
    position: static;
  }
  header .logo {
    float: none;
    width: 100%;
  }
  header ul {
    float: none;
    width: 100%;
    display: block;
  }
  h2 {
    font-size: 1.5rem;
    color: #fff;
  }
}
/*# sourceMappingURL=main.css.map */